
.Container-carga-pedidos
{
    padding-top: 20vh;
}
.multilinea-obs
{ 
    display: inherit; /*deja de heredar de padre*/
    height: 100px;
    width: 600px;
    margin: 20px 0;
}

.multilinea-obs label
{
    display: block; 
    text-align: left; 
    margin-bottom: 10px;

}

.clases-datos 
{
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}
.formulario-pedidos 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.carga-pedidos-data 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
}
.contenedor-botones {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
  
.contenedor-botones button {
    display: block;
    justify-content: center;
    background-color: #3871c5;
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    
 
}
.cod-prod-cant
{
    display: flex;
    padding: 10px;
    input
    {
        margin-right: 10px;
    }
    
}


#datepicker-fechas-pedido
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
}
.date-fecha-carga
{
    margin-right: 5%;
}

  
#observaciones-multilinea
{

    margin-top: 20px;
    padding: 10px;

}

#fecha-actual
{   
    text-align: center;
    border: 1px solid #090707;


}

#agregar-campo
{

    display: block;
    justify-content: center;
    background-color: #3871c5;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;


}