#form-contacto
{
    padding-top: 20vh;
    padding-left: 2vb;
    display: grid;
    align-content: center;
    height: auto;
  grid-template-columns: auto 1fr  ;
    grid-template-rows: 2fr ;
        label
        {
            font-size: larger;
            padding: 10px;


        }
        input{
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #3871c5;
            width: 300px;
        }
         
        textarea {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #3871c5;
            width: 300px;
            height: 100px;
        }
        textarea{resize: none}
    
    
}