.descripcion-prod
{
    text-align: left;
    font-style: italic;
    font-size: medium;
    font-weight: bold;

}

.boton-carga
{
  position:absolute;
  
  border:double;
  background-color: rgb(164, 219, 241);
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  font-stretch: calc(1,2);

}

.carga-pedidos
{
    position: absolute; 
    top: 50%; 
    left: 25%; 
    transform: translate(-49%, -49%);


}

.multilinea-obs
{ 
  width: 100%;
}

.productos-psag-right
{ 
  

}