.descripcion-prod
{
    text-align: left;
    font-style: italic;
    font-size: medium;
    font-weight: bold;

}

.boton-carga
{
 
   position: absolute;

}

.carga-pedidos
{
    position: absolute; 
    top: 50%; 
    left: 25%; 
    transform: translate(-49%, -49%);


}

.multilinea-obs
{ 
  width: 100%;
}

.productos-psag-right
{ 
  
  float: right;

}



