.top-intro
{
  background-color: rgb(160, 187, 237);
  border-radius: 10px;
  width: 100%;
  height: 22%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  
}
.menu-lateral
{
  position: fixed;
  top: 20.5%;
  left: 0;
  width: 200px;
  height: 200px;
  #lbl-buscar
  {
    position: relative;
    top: 2px;
  }
  #busqueda-aside
  {
    position: relative;
    top: 2px;
  }
  
}


/*.descripcion-prod
{
    text-align: left;
    font-style: italic;
    font-size: medium;
    font-weight: bold;

}*/
.prod-container
{
  display: flex;
  align-content: center;
  height: 100%;
  margin-top: 10%;
  flex-wrap: wrap;
  margin-left: 15%;

  
}
 
.menu-foot
{
    
  width: 100%;
  
  text-decoration: none;
  text-align: center;
  font-size: larger;
  position: relative;
  padding: 10px;
    
    
    
    ul
    {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    }
    li{display: inline;}
    a
    { text-decoration: none;    
      color: #000000;
      
    }
}
  

.img-ph
{
  display: flex;

  width: 300px;
  height: 300px;
  
}

.nombre-prod
{
  text-align:left;
  font-weight: bold;
 
}
.descripcion-prod
{
  white-space: pre-wrap;
  text-align: left;
  font-style: italic;
  font-size: medium;  
  
  line-height: 1.5;  
}

footer{ position: center;}

aside 
{

  padding-left: 10px;
  margin-left: 0px;
  float: left;
  background-color: rgb(160, 187, 237);
  border-radius: 10px;
  
}


.chkbox-familia
{
  list-style-type: none

}

.separador-header
{ 
  height: 150px;

}

.top-intro
{
  background-color: rgb(160, 187, 237);
  border-radius: 10px;
  width: 100%;
  height: 20%;
  
 
}
.imagenes-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    height: 10%;
}

.logo-psag {
  width: 15%;
  max-width: 150px;
}

.textos-header {
  text-align: center;
  flex: 1; /* Hace que el texto ocupe el espacio del medio */
  margin: 0 20px;
  
}

.txt-head {
  margin: 5px 0;
}


.li-menu
{
  border-style: solid; 
  border-width: 1px;
  background-color: #7499d1;
  padding: 5px;
  border-radius: 8px;
}

#btn-add-products
{
  background-color: #7499d1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  
}

  