

.multilinea-obs
{ 
    display: inherit; /*deja de heredar de padre*/
    height: 100px;
    width: 600px;
    margin: 20px 0;
}

.multilinea-obs label
{
    display: block; 
    text-align: left; 
    /*margin-left: 20px;*/
    margin-bottom: 10px;

}

.clases-datos 
{
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}
.formulario-pedidos 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}



.carga-pedidos-data 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 10px;
}

.contenedor-botones {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
  
.contenedor-botones button {
    padding: 8px 16px;
    border-radius: 6px;
 
}
.cod-prod-cant
{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
    padding: 10px;
    margin-top: 10px;
}


#datepicker-fechas-pedido
{
    
    position: inherit;
    justify-content: left;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    width: 500px;
    padding: 10px;
    
}
.date-fecha-carga
{
    margin-right: 5%;
}

  
#observaciones-multilinea
{

    margin-top: 20px;
    padding: 10px;

}

#fecha-actual
{   
    text-align: center;
    border: 1px solid #090707;


}