.top-intro-pedidos
{
    background-color: rgb(160, 187, 237);
    border-radius: 10px;
    width: 100%;
    height: 20%;
    position:fixed;
    top: 0; 
    
}
 


.multilinea-obs
{ 
    display: inherit; /*deja de heredar de padre*/
    height: 100px;
    width: 600px;
    margin: 20px 0;
}

.multilinea-obs label
{
    display: block; 
    text-align: left; 
    /*margin-left: 20px;*/
    margin-bottom: 10px;

}

.clases-datos 
{
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}
.container-carga-pedidos
{
    display: flex;
    flex-direction: column;
    position: relative;
    /*align-items: center;
    margin-top: 15%;
    max-width: 80%;*/
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    
    
}

.carga-pedidos-data 
{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    gap: 20px;
    width: 500px;
    padding: 10px;
}

.contenedor-botones {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
  
.contenedor-botones button {
    padding: 8px 16px;
    border-radius: 6px;
 
}
.cod-prod-cant
{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    margin-top: 20px;
    width: 500px;
    padding: 10px;
}
.cod-prod-cant input {
    width: 100px; 
    padding: 4px;
}

#datepicker-fechas-pedido
{
    
    position: inherit;
    justify-content: left;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    gap: 20px;
    width: 500px;
    padding: 10px;
    
}
.date-fecha-carga
{
    margin-right: 5%;
}

  
#observaciones-multilinea
{

    margin-top: 30px;
    padding: 10px;

}








/*#date-fecha-carga
{
    hay que usar JS para setear el valor de la fecha actual

}*/