#institucional
{
  margin-top: 10vh;
  padding: 2vh 2vw;
  border: #3871c5 solid 3px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 80vh;
  height: 25vh;
  p { 
    text-align: justify;
    font-size:medium;
    } 
}
#contenido-nostros
{
  background-image: url(../img/home_bg_color.jpg);
  width: 100%;
  padding-top: 20vh;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;

}


